run = "npm run start"
entrypoint = "backend/server.js"
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[env]
PORT = "3000"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
JWT_SECRET = "speeti-super-secret-key-2024"
RESEND_API_KEY = "re_PVy1qNwH_NaeV1xBMxkGNXrQBLUevLiqs"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Speeti App"

[[workflows.workflow]]
name = "Speeti App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && node server.js & cd frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
